@import "tailwindcss";

@font-face {
  font-family: "Maghfirea";
  src: url("/fonts/Maghfirea.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 2. Add it to Tailwind's theme */
@theme {
  --font-maghfirea: "Maghfirea", sans-serif;
}

@keyframes slide-up-fade {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up-fade {
  opacity: 0;
  animation: slide-up-fade 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
